.logo {
  padding: 2px 6px 4px 6px;
  float: left;
  font-size: 20px;
  color: black;
}
.io {
  border: 1px solid #E0EEE8;
  padding: 1px 5px 3px 5px;
  float: left;
  margin-left: 0px;
  font-size: 20px;
  color: #D0DEE8;
}
.testa {
  float: left;
}

.newitem-form {
  position: absolute;
  display: inline;
}

.newitem-input {
  outline: none;
  width: 400px;
  border: 1px solid white;
  font-size: 15px;
  font-weight: 400;
  margin: 0px 0 6px 3px;
  padding: 5px 5px 7px 7px;
  position: absolute;
}
