.logo {
  padding: 2px 6px 4px 6px;
  float: left;
  font-size: 20px;
  color: black;
}
.io {
  border: 1px solid #E0EEE8;
  padding: 1px 5px 3px 5px;
  float: left;
  margin-left: 0px;
  font-size: 20px;
  color: #D0DEE8;
}

