.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  line-height: 27px;
  min-height: 43px;
  padding: 5px 6px 0px;
  vertical-align: middle;
}

.react-tagsinput-tag {
  background-color: #5BC0DE;
  border-radius: 0;
  color: white;
  display: inline-block;
  margin: 0 2px 5px 0;
  padding: 2px 27px 2px 7px;
  position: relative;
  font-size: 14px;
  font-weight: 400;
}

.react-tagsinput-invalid {
  background: #FBD8DB !important;
  color: #90111A !important;
}

.react-tagsinput-remove {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  padding: 2px 5px;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
}

.react-tagsinput-remove:hover {
  text-decoration: none;
  color: white;
}

.react-tagsinput-remove:before {
  content: "x";
  padding: 0px 2px;
}

.react-tagsinput-remove:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
}

.react-tagsinput-input {
  background-color: transparent;
  border: 1px solid #f3f3f3;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  margin: 0 0 0 2px;
  padding-left: 7px;
  max-width: inherit;
  outline: none;
  width: 120px;
}

input::-webkit-input-placeholder {
  color: #aaa;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #aaa;
}
input::-moz-placeholder {  /* Firefox 19+ */
  color: #aaa;
}
input:-ms-input-placeholder {
  color: #aaa;
}