.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  padding-left: 5px;
  padding-top: 6px;
  margin-left: 2px;
}

.react-tagsinput-tag {
  background-color: #5bc0de;
  border-radius: 0;
  color: white;
  float: left;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 0px 5px 5px 0;
  padding: 7px 27px 7px 7px;
  position: relative;
}

.react-tagsinput-remove {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  padding: 7px 5px 7px 5px;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
}

.react-tagsinput-remove:hover {
  text-decoration: none;
  color: white;
}

.react-tagsinput-remove:before {
  content: "x";
  padding: 0px 2px;
}

.react-tagsinput-remove:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
}

.react-tagsinput-input {
  background: transparent;
  border: 1px solid #e3e3e3;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  margin: 0px 0 6px 0;
  padding: 5px 5px 7px 7px;
  width: 150px;
}

.react-tagsinput-invalid {
  background-color: #fbd8db !important;
  color: #90111a;
}

.react-tagsinput-validating {
  background: #fffacd;
}

input::-webkit-input-placeholder {
  color: #ccc !important;
  font-weight: 300;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #ccc !important;
  font-weight: 300;
}
input::-moz-placeholder {  /* Firefox 19+ */
  color: #ccc !important;
  font-weight: 300;
}
input:-ms-input-placeholder {
  color: #ccc !important;
  font-weight: 300;
}
